{
    "plugins": [
        [
        "file-loader",
        {
            "name": "[hash].[ext]",
            "extensions": ["png", "jpg", "jpeg", "gif", "svg", "pdf"],
            "publicPath": "/public",
            "outputPath": "/public",
            "context": "",
            "limit": 0
        }
        ]
    ]
}