@import '../Variables.module.scss';

.footerInt{
    background: $primary-color;
    width: 100%;
    height: 50px;   
    a{
        font-size: ($font-site * 0.8) !important;
        @media screen and (max-width: 801px) {
            font-size: ($font-site * 0.5) !important;
        }
        text-transform: none;
        text-decoration: none;
        color: $text-color-index;
    }
    a:hover{
        text-decoration: underline;
    }
    p{
        margin: 8px 20px;
        color: $text-color-index;
    }
    .gitBtn{
        margin-right: 21px;
        color: $text-color-index;
        p{
            margin: 0px 0px 0px 7px;
            color: $text-color-index;
        }
        svg{
            width: 21px !important;
        }
    }
    position: fixed;
    bottom: 0px;
    z-index: 2;
}