@import '../Variables.module.scss';

.formClass{
    width:100%;
}

.inputClass{
    width:100%;
    p{
        color: red;
    }
}

button.inputBtnClass{
    background-color: $secondary-color !important;
}

.formRoot{
    button:disabled{
        background-color: $secondary-color !important;
        opacity: 0.7;
        color: #FFF !important;
        cursor: wait;
    }
}


.alert{
    margin-bottom: 10px;
}