@import '../Variables.module.scss';

.particleCanvas {
    background: rgb(3,9,45);
    background: radial-gradient(circle, rgba(3,9,45,1) 0%, rgba(0,4,37,1) 33%, rgba(0,0,0,1) 100%);
    position:fixed !important;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.indexFooter{
    footer{
        background-color: transparent !important;
    }
}