@import '../Variables.module.scss';

.particleHeader{
    background: rgb(3,9,45);
    background: radial-gradient(circle, rgba(3,9,45,1) 0%, rgba(0,4,37,1) 33%, rgba(0,0,0,1) 100%);
    position: absolute;  
}

.edgeHeader{
    position: relative;
    background-color: $secondary-color;
    display: block;
    width: 100%;
    height: 278px;
}

.contentPaper{
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: -150px;
    min-height: 600px;
    @media screen and (max-width: 801px) {
        margin-top: -230px;
    }
    a{
        color: $secondary-color !important;
    }
}

.siteContainer{
    
}

.pageTitle{
    padding: 0px 0px 40px 0px !important;
    h1,h2,h3,h4,h5,h6{
        width: 100%;
        
    }
}