@import '../Variables.module.scss';

a.buttonActive{
    height: '35px';
    margin: '7px 5px';
    border-radius: '5px';
    :hover{
        opacity: 0.8;
        span{
            padding: 0px 5px;
        }
    }
    span{
        padding: 0px 5px;
    }
    
}

a.buttonMobileActive{
    height: '35px';
    margin: '7px 5px';
    border-radius: '5px';
    :hover{
        opacity: 0.8;
        span{
            padding: 0px 5px;
        }
    }
    span{
        padding: 0px 5px;
    }
}

a.buttonIcon{
    width: 30px;
    svg{
        width: 25px;
    }
}

a.buttonIconLast{
    width: 30px;
    margin-right: 2px !important;
    svg{
        width: 21px !important;
    }
}