@import '../Variables.module.scss';

.boxImage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.paperContent{
    position: inherit;
}

.boxContent{
    margin-bottom: 15px;
}

.boxSubTitle{
    font-weight: bold;
    color: #030957;
}

.boxTitle{
    padding: 5px 0px 10px 0px;
}