@import '../Variables.module.scss';

.boxImage{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0px !important;
}

.cardContent{
    margin-bottom: 15px;
}

.cardSubTitle{
    font-weight: bold;
    color: #030957;
}

.cardTitle{
    padding: 5px 0px 10px 0px;
}