@import '../Variables.module.scss';
.verticalTimelineRoot{
    width: inherit;
}

.dateFirstItem{
    @media screen and (max-width: 1169px) {
        color: '#FFF' !important,
    }
    @media screen and (min-width: 1170px) {
        color: $tertiary-color !important;
    }
}