.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 600px;
}

.contactInput,
.contactTextarea {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.contactInput:focus,
.contactTextarea:focus {
  outline: none;
  border-color: var(--color-primary);
}

.contactTextarea {
  resize: vertical;
  height: 150px;
}

.contactButton {
  padding: 0.75rem;
  background: linear-gradient(
    135deg,
    var(--color-primary-glow) 0%,
    var(--color-secondary-glow) 100%
  ); /* Usando variáveis globais */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactButton:hover {
  background: linear-gradient(
    135deg,
    var(--color-secondary-glow) 0%,
    var(--color-primary-glow) 100%
  );
}

.statusMessage {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .contactForm {
    padding: 1rem;
  }
}
