$text-color-index: #F5F1ED;
$text-color:#464646;
$primary-color: #000000;
$secondary-color: #2274A5;
$tertiary-color: #70798C;

$font-site: 16px;

body{
    font-family: 'Roboto', sans-serif;
    font-size: $font-site !important;
    line-height: ($font-site * 1.6) !important;
    color: $text-color !important;
}

//Particle style
.particle-canvas {
    background: $primary-color;
    position:fixed !important;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.chatBot{
    width: 100%;
    margin-top: -150px;
    @media screen and (max-width: 801px) {
        margin-top: -230px;
    }
    .rsc-container{
        width: auto;
    }
}

//Page styles
.edge-header{
    position: relative;
    background-color: $secondary-color;
    display: block;
    width: 100%;
    height: 278px;
    .particle-header{
        position: absolute;  
    }
}

.content-paper{
    position: relative;
    margin-top: -150px;
    @media screen and (max-width: 801px) {
        margin-top: -230px;
    }
    padding: 10px 60px 60px 60px;
    a{
        color: $secondary-color !important;
    }
}

.icon-description{
    padding: 5px 0 15px 0;
    font-size: ($font-site * 1.3) !important;
    font-weight: bold !important;
}

.footer-int{
    background: $primary-color;
    width: 100%;
    height: 50px;
    a{
        font-size: ($font-site * 0.8) !important;
        @media screen and (max-width: 801px) {
            ffont-size: ($font-site * 0.5) !important;
        }
        text-transform: none;
        text-decoration: none;
        color: $text-color-index;
    }
    a:hover{
        text-decoration: underline;
    }
    p{
        margin: 10px 20px;
        color: $text-color-index;
    }
    .git-btn{
        margin-right: 20px;
        color: $text-color-index;
        p{
            margin: 0px 0px 0px 7px;
            color: $text-color-index;
        }
    }
    position: fixed;
    bottom: 0px;
}

//Index style
.wrapper{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    .introduction{
        display: block;
        margin: 0px auto;
        width: 710px;
        height: 200px;
        @media screen and (max-width: 801px) {
            width: 400px;
            height: 400px;
        }
        .content-introduction{
            display:block;
            margin: (100% / 2.7) auto;
            width: 710px;
            height: 200px;
            @media screen and (max-width: 801px) {
                width: 400px;
                height: 400px;
            }
            .avatar{
                display: block;
                width: 180px;
                height: 180px;
                margin: 0px 10px 0px 0px;
                float: left;
                @media screen and (max-width: 801px) {
                    margin: 10px auto;
                    float: none;
                    width: 150px;
                    height: 150px;
                }
            }
            hgroup{
                display: block;
                margin: 20px 0px 0px 10px;
                padding: 0px;
                float: left;
                @media screen and (max-width: 801px) {
                    width: 400px;
                    margin: 10px auto;
                }
                h1, h2 {
                    text-align: center;
                    font-family: "Raleway";
                    font-size: 32pt;
                    line-height: 38pt;
                    color: $text-color-index;
                    margin: 0px;
                    padding: 0px;
                    @media screen and (max-width: 801px) {
                        margin: 0px auto;
                        font-size: 18pt;
                        line-height: 21pt;
                    }
                    span{
                        color: $secondary-color;
                    }
                }
            }
            .bt-index{
                float: left;
                @media screen and (max-width: 801px) {
                    display: block;
                    width: 400px;
                }
                a{
                    margin: 10px 0px 0px 10px;
                    @media screen and (max-width: 801px) {
                        display: flex;
                        margin: 10px auto;
                        width: 200px;
                    }
                }
            }
        }
    }
}

.indexFooter{
    .footer-int{
        background-color: transparent !important;
    }
}