.portfolio {
  padding: 2rem;

  .projectList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }

  .projectCard {
    background-color: var(--color-light);
    border: 1px solid var(--color-border);
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 0;
    }

    h3 {
      margin: 1rem 0 0.5rem;
      color: var(--color-text);
      font-weight: 500;
    }

    .projectDescription {
      color: var(--color-muted);
      font-size: 0.95rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      margin-bottom: 1rem;
      transition: all 0.3s ease;
    }

    &.expanded .projectDescription {
      -webkit-line-clamp: unset;
      max-height: none;
    }

    .seeMoreButton {
      background: linear-gradient(
        135deg,
        var(--color-primary-glow) 0%,
        var(--color-secondary-glow) 100%
      );
      color: var(--color-light);
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background: linear-gradient(
          135deg,
          var(--color-secondary-glow) 0%,
          var(--color-primary-glow) 100%
        );
        color: var(--color-light);
      }

      &:visited {
        color: var(--color-light);
      }
    }
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--color-light);
  padding: 3rem 2rem;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  max-width: 680px;
  width: 100%;
  text-align: center;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  line-height: 1.6;
}

.closeButton {
  position: fixed;
  top: 20px;
  right: 20px;
  background: var(--color-primary-glow);
  border: none;
  color: var(--color-light);
  font-size: 3rem;
  cursor: pointer;
  z-index: 1100;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 50%;
  padding: 10px 25px;

  &:hover {
    background-color: var(--color-secondary-glow);
  }

  @media screen and (max-width: 768px) {
    top: 10px;
    right: 10px;
    font-size: 2rem;
    padding: 5px 15px;
  }
}

.projectLink {
  background: linear-gradient(
    135deg,
    var(--color-primary-glow) 0%,
    var(--color-secondary-glow) 100%
  );
  color: var(--color-light);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background: linear-gradient(
      135deg,
      var(--color-secondary-glow) 0%,
      var(--color-primary-glow) 100%
    );
    color: var(--color-light);
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: var(--color-text);
    font-weight: 600;
  }

  .imagesContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.5rem 0;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top left;
    border-radius: 0;
  }

  p {
    color: var(--color-dark);
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.passwordSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 5rem 0;
  flex-wrap: wrap;
}

.passwordInput {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.passwordButton {
  background: linear-gradient(
    135deg,
    var(--color-primary-glow) 0%,
    var(--color-secondary-glow) 100%
  );
  color: var(--color-light);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.passwordButton:hover {
  background: linear-gradient(
    135deg,
    var(--color-secondary-glow) 0%,
    var(--color-primary-glow) 100%
  );
  color: var(--color-light);
}

.requestLink {
  color: var(--color-primary-glow);
  text-decoration: underline;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.requestLink:hover {
  color: var(--color-secondary-glow);
  text-decoration: none;
}
