:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-color: #000000; /* Black */
  --background-start-color: #d6dbdc; /* Light Gray */
  --background-end-color: #ffffff; /* White */

  --primary-glow: #00f9ff; /* Light Neon Blue */
  --secondary-glow: #00e0ff; /* Slightly Darker Neon Blue */

  --tile-start-color: #eff5f9; /* Light Blueish Gray */
  --tile-end-color: #e4e8e9; /* Lighter Gray */
  --tile-border-color: #00000080; /* Black with transparency effect converted to solid hex approximation */

  --timeline-color: #ccc; /* Light Gray */

  --callout-color: #eef0f1; /* Light Gray */
  --callout-border-color: #acafb0; /* Medium Gray */
  --card-color: #b4b9bc; /* Light Gray */
  --card-border-color: #838687; /* Medium Gray */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff; /* White */
    --background-start-color: #000000; /* Black */
    --background-end-color: #000000; /* Black */

    --primary-glow: #00f9ff; /* Light Neon Blue */
    --secondary-glow: #00e0ff; /* Slightly Darker Neon Blue */

    --tile-start-color: #020d2e; /* Dark Navy */
    --tile-end-color: #020513; /* Darker Navy */
    --tile-border: #ffffff80; /* White with transparency effect converted to solid hex approximation */

    --callout-color: #141414; /* Very Dark Gray */
    --callout-border-color: #6c6c6c; /* Dark Gray */
    --card-color: #646464; /* Dark Gray */
    --card-border-color: #c8c8c8; /* Light Gray */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
