.chatBot{
    width: 100%;
    margin-top: -150px;
    @media screen and (max-width: 801px) {
        margin-top: -230px;
    }
    .rsc-container{
        width: auto;
    }
}

//Page styles
.particle-header{
    position: absolute;  
}

.content-paper{
    position: relative;
    margin-top: -150px;
    @media screen and (max-width: 801px) {
        margin-top: -230px;
    }
    padding: 10px 60px 60px 60px;
    a{
        color: $secondary-color !important;
    }
}

.icon-description{
    padding: 5px 0 10px 0;
    font-size: ($font-site * 1.3) !important;
    font-weight: bold !important;
}

