@import '../Variables.module.scss';

.personality {
    display: flex;
    div {
        h4{
            padding: 5px 0 10px 0;
            font-size: ($font-site * 1.3) !important;
            font-weight: bold !important;
        }
        div{
            img{
                display: block;
                margin: 0 auto;
            }
        }
    }
    
}
