@import '../Variables.module.scss';

.wrapper{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    .introduction{
        display: block;
        margin: 0px auto;
        width: 710px;
        height: 200px;
        @media screen and (max-width: 801px) {
            width: $min-screen;
            height: 400px;
        }
        .contentIntroduction{
            display:block;
            margin: (100% / 2.7) auto;
            width: 710px;
            height: 200px;
            @media screen and (max-width: 801px) {
                width: $min-screen;
                height: 400px;
            }
            .avatar{
                display: block;
                width: 180px;
                height: 180px;
                margin: 0px 10px 0px 0px;
                float: left;
                @media screen and (max-width: 801px) {
                    margin: 10px auto;
                    float: none;
                    width: 120px;
                    height: 120px;
                }
            }
            hgroup{
                display: block;
                margin: 20px 0px 0px 10px;
                padding: 0px;
                float: left;
                @media screen and (max-width: 801px) {
                    width: $min-screen;
                    margin: 10px auto;
                }
                h1, h2 {
                    font-family: "Raleway" !important;
                    font-size: 22pt !important;
                    line-height: 32pt !important;
                    text-align: left;
                    color: $text-color-index;
                    margin: 0px;
                    padding: 0px;
                    @media screen and (max-width: 801px) {
                        width: $min-screen;
                        text-align: center;
                        margin: 0px auto;
                        font-size: 18pt !important;
                        line-height: 21pt !important;
                    }
                    span{
                        color: $tertiary-color;
                    }
                }
            }
            .btIndex{
                margin: 0;
                @media screen and (max-width: 801px) {
                    text-align: center;
                    width: $min-screen;
                }
                a{
                    margin: 10px 0px 0px 10px;
                    @media screen and (max-width: 801px) {
                        text-align: center;
                        margin: 10px auto;
                        width: 200px;
                    }
                }
            }
        }
    }
}

