.timeline {
  position: relative;
  margin: 0;
  padding: 1rem 0;
  list-style: none;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background-color: var(--timeline-color);
  }

  .timelineItem {
    position: relative;
    margin: 2rem 0;
    width: 40%;
    padding: 1rem;
    background-color: var(--tile-start-color);
    border: 1px solid var(--tile-border-color);
    border-radius: var(--border-radius);
    box-shadow: 0px 3px 6px #0000001a;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(20px);

    &.visible {
      opacity: 1;
    }

    &:nth-child(even) {
      left: 50%;
      transform: translateX(50%);
      transition: opacity 1.2s ease, transform 1.2s ease;

      &.visible {
        transform: translateX(15%);
      }

      .timelineIcon {
        position: absolute;
        top: 50%;
        left: -15%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background-color: var(--background-start-color);
        border-radius: 50%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--foreground-color);
        font-size: 1.2rem;
        box-shadow: 0 3px 6px #00000033;
      }
    }

    &:nth-child(odd) {
      left: 50%;
      transform: translateX(-165%);
      transition: opacity 1.2s ease, transform 1.2s ease;

      &.visible {
        transform: translateX(-115%);
      }

      .timelineIcon {
        position: absolute;
        top: 50%;
        left: 115%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background-color: var(--background-start-color);
        border-radius: 50%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--foreground-color);
        font-size: 1.2rem;
        box-shadow: 0 3px 6px #00000033;
      }
    }

    .timelineContent {
      position: relative;
      margin-top: 0;

      h3 {
        margin-top: 0;
        font-size: 1.2rem;
        color: var(--foreground-color);
      }

      h4 {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        color: #666666;
      }

      p {
        margin: 0.5rem 0;
        color: #666666;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .timeline {
    &:before {
      left: 0%;
    }

    .timelineItem {
      width: 85%;
      margin: 2rem auto;
      transform: none !important;
      left: auto !important;

      .timelineIcon {
        left: 10%;
        top: -15px;
        transform: translate(0, 0);
      }

      &:nth-child(odd),
      &:nth-child(even) {
        .timelineIcon {
          left: -9%;
        }
      }
    }
  }
}
