@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@mixin centre($axis: "both"){
    position:absolute;
    @if $axis == "y"{
        top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @if $axis == "x"{
        left:50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @if $axis == "both"{
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }   
}

@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin maintain-ratio($ratio: 1 1) {
    $width: 100%;
    $height: percentage(nth($ratio, 2) / nth($ratio, 1));

    width: $width;
    height: 0;
    padding-bottom: $height;
}

$text-color-index: #F5F1ED;
$text-color:#464646;
$primary-color: #000000;
$secondary-color: #021D52;
$tertiary-color: #55025a;
$tertiary-color-light: #7d0084;
$min-screen: 320px;
$font-site: 16px;
$font-line: ($font-site * 1.6);
$body-font-family: 'Roboto', sans-serif;